{% extends "base.html.twig" %}

{% block body %}
    <h1 class="my-3">Votre compte a bien été crée</h1>

<p>
    N'hésitez pas à consulter nos articles régulièrement <a href="{{ url('app_post') }}">ici</a>
</p>
{% endblock %}